/*
Color Palete
grey: #383B45
royal-blue: rgba(21,60,204,.6)
midnight-blue: #050D2B
white: #CDD1E0
dark-blue: #0B1F69
*/

html {
    height: 100vh;
    padding: 0;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #050D2B;
    background-image: url(../img/background.jpg);
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

h2 {
    display: inline-block;
    margin-bottom: 0px;
}

h6 {
    display: inline-block;
    margin-top: 0px;
}

.banner {
    background-color: rgba(205,209,224,0.85);
    width: 70%;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: #050D2B;
    position: relative;
    display: block;
    margin: 0;
    
    -webkit-box-shadow: 0px 0px 10px 5px rgba(5,13,43,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(5,13,43,1);
    box-shadow: 0px 0px 10px 5px rgba(5,13,43,1);
}

.banner.summary {
    top: 20px;
}

.banner.instructions {
    
    display: flex;
    flex-wrap: wrap;

    margin-top: 100px;
    right: 0px;
    margin-left: auto;
}

.instructions span.number {
    position: absolute;
    display: inline-block;
    font-size: 4em;
    color: rgba(21,60,204,.6);
    left: -35px;
}

.instructions h3 {
    display: block;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    margin-bottom: 0px;
    border-bottom: 2px solid rgba(21,60,204,.6);
    width: 70%;
    color: #0B1F69;
}

.instructions > span {
    position: relative;
    display: inline-block;
    width: 230px;
    margin-left: 25px;
}

.instructions img.instruction-picture {
    width: 90%;
}

.banner.input {
    margin-top: 40px;
    width: 50%;
    min-width: 400px;
}

.input input {
    width: 350px;
}

.input span {
    font-size: 0.8em;
}

.banner.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    font-size: 0.8em;
}

/*Game Page*/

/*Center Banner to look more title like*/
.banner.game-title {

    display: block;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

/*Setup flexbox to give tile feel*/
.tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/*Last tile container has some padding*/
div.tile-container:last-of-type {
    padding-bottom: 50px;
}

/*Give fixed width and height like a tile*/
.tile-container > div {
    width: 120px;
    display: inline-block;
    height: 120px;
    background-color: rgba(205,209,224,0.85);
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(5,13,43,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(5,13,43,1);
    box-shadow: 0px 0px 10px 5px rgba(5,13,43,1);
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
    position: relative;
}



.tile-container > div:hover:not(.selected-question) {
    background-color: rgba(205,209,224,1);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(5,13,43,1);
    -moz-box-shadow: 0px 0px 20px 10px rgba(5,13,43,1);
    box-shadow: 0px 0px 20px 10px rgba(5,13,43,1);
}

.category {
    display: block;
    text-align: center;
    margin-top: 25px;
}

.points {
    display: block;
    text-align: center;
    margin-top: -13px;
    font-size: 2.5em;
    color: rgba(21,60,204,.6);
}

.question {
    color: rgba(32,32,32,0);
    padding: 10px;
    text-align: center;
    font-size: 1.3em;

    /*hide*/
    display: none;
}

.selected-question .question {
    
    /*show*/
    display: block;

    /*Give underline to separate points and question*/
    border-top: 1px solid rgb(32,32,32);
    
    /*Transition gives faded effect*/
    color: rgba(32,32,32,1);
    transition: color 2s;
}

/*Answer different color to stand out*/
.answer {
    color: rgba(21,60,204,0);
    padding: 10px;
    text-align: center;
    /*font a little smaller than question*/
    font-size: 1.2em;

    /*hide*/
    display: none;
}

/*Color transtion give fade in effect*/
.show-answer .answer {

    /*show*/
    display: block;

    color: rgba(21,60,204,.6);
    transition: color 2s;
}

.tile-container .selected-question {
    background-color: rgba(205,209,224,1);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(5,13,43,1);
    -moz-box-shadow: 0px 0px 20px 10px rgba(5,13,43,1);
    box-shadow: 0px 0px 20px 10px rgba(5,13,43,1);
    
    /*Display as a popup in front of other things*/
    position: fixed;
    z-index: 99;
    display: block;
    width: 70%;
    height: 70%;

    /*Center logic*/
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    transition: background-color .3s, box-shadow .3s, width 1s, height 1s, top 1s, left 1s, right 1s, bottom 1s, margin 1s;
}

@media screen and (max-width: 700px) {

    /*Duplicating to increase selectivity of 
    classes to override defaults*/

    .banner.banner {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner.banner.instructions {
        margin-left: 0px;
        padding-left: 40px;
    }

    .banner.banner.input {
        margin-top: 40px;
        width: 100%;
        min-width: 200px;
    }

    .banner.banner.game-title {
        width: 100%;
    }

    .input.input input {
        width: 80%;
    }

    .tile-container {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}
