<!doctype html>
<html class="no-js" lang="" ng-app="jeopardyApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/home.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-controller="HomeController">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="background"></div>
        <div class="setup-container" ng-show="fileName === null">
            <div class="banner summary">
                <h2>Create-Your-Own Jeopardy</h2>
                <h6>powered by google spreadsheets</h6>
            </div>
            <div class="banner instructions">
                <span>
                    <span class="number">1</span>
                    <h3>Get Template</h3>
                    <p>
                        <a target="_blank" href="http://docs.google.com/spreadsheets/d/1lsTQjs15IV40WZno5Wy6JC4Px3uWSVArEQPgEvGTco8/edit?usp=sharing">Open Sample Document</a>
                        <br />
                        File > Make a Copy...
                    </p>
                    <p><img class="instruction-picture" src="img/HowToShare.png"/></p>
                </span>
                <span>
                    <span class="number">2</span>
                    <h3>Add Data</h3>
                    <p><img class="instruction-picture" src="img/HowToShare.png"/></p>
                </span>
                <span>
                    <span class="number">3</span>
                    <h3>Publish File</h3>
                    <p>File > Publish to the web...</p>
                    <p><img class="instruction-picture" src="img/HowToShare.png"/></p>
                </span>            
            </div>
            <div class="banner input">
                <input type="text" ng-model="googleDriveLink" placeholder="Published spreadsheet link">
                <button ng-click="setLink()">Start Game</button>
                <span ng-show="errorMessage !== null">{{errorMessage}}</span>
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
        <div class="game-container" ng-show="fileName !== null">
            <div class="banner game-title">
                {{fileName}} Jeopardy
            </div>
            <div class="tile-container">
                <div ng-repeat="q in jeopardyQuestions | orderBy:['category','points']" ng-click="showQuestion(q)">
                    {{q.category}}-{{q.points}}
                </div>
            </div>
        </div>
        <div class="banner footer">
            <span>Copyright &copy; {{year}} Jeff Sallans</span>
        </div>

        <!-- Load JavaScript after HTML -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/lodash.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/DriveRepository.js"></script>
    </body>
</html>
